force-app/main/default/flows/Clone_Contractors_Transform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contractor_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contractors</targetReference>
            </connector>
            <label>Contractor Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clone Contractors Transform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Contractors Transform</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contractor_Changes</name>
        <label>Create Contractor Changes</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Transform_1</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contractors</name>
        <label>Get Contractors</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contractor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_1</name>
        <label>Transform 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Contractor_Changes</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Contractor_Changes__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Contact__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contractors[$EachItem].Contact__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contractor__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contractors[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Budget_Percentage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contractors[$EachItem].Budget_Percentage__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cost__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contractors[$EachItem].Cost__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contractors[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Project__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contractors[$EachItem].Project__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Contractor_Changes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contractor_Changes__c</objectType>
    </variables>
</Flow>
